:root {
    --tokyo-purple: #ab8dff;
    --tokyo-purple-hover: #7e5cdd;
    --tokyo-red: #F72C5E;
    --tokyo-red-hover: #ae0c35;
    --tokyo-white: #F8F9FA;
    --tokyo-black: #05050c;
    --tokyo-dark: #1A1A2E;
    --tokyo-light-dark: #26263e;
    --tokyo-gray: #2D2D44;
    --tokyo-light-gray: #444461;
    --tokyo-gray-transparency: #62627273;

    --font-primary: 'Poppins', 'Noto Sans JP', sans-serif;
    --font-japanese: 'Noto Sans JP', 'Hiragino Kaku Gothic Pro', sans-serif;
    --font-display: 'Montserrat', 'Sawarabi Mincho', serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    scroll-behavior: smooth;
}

body {
    background-color: var(--tokyo-dark);
    font-family: var(--font-display);
}

.header {
    background-color: var(--tokyo-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__image {
    width: 125px;
    margin: 25px 0;
}

.header__navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header__link {
    font: bold 1.2em var(--font-primary);
    color: var(--tokyo-red);
    border: 2.5px solid var(--tokyo-dark);
    text-decoration: none;
    background-color: var(--tokyo-gray);
    padding: 10px 3px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.header__link:hover {
    text-decoration: underline;
    color: var(--tokyo-red-hover);
}

.navbar {
    background-color: var(--tokyo-white);
    padding: 15px;
}

.navbar__title {
    color: var(--tokyo-red);
}

.navbar li {
    list-style: none;
}

.navbar__link {
    font: bold 1em var(--font-primary);
    color: var(--tokyo-gray);
    text-decoration: none;
    padding: 2px 15px;
    transition: all 0.3s ease-in-out;
}

.navbar__link:hover {
    color: var(--tokyo-black);
}

.navbar li::before {
    content: "➦"
}

.card__item {
    background-color: var(--tokyo-light-gray);
}

.card__item-title {
    color: var(--tokyo-white);
    font: bold 1.8em var(--font-primary);
    padding: 10px 15px;
}

.card__item-description {
    font-size: 1em;
    padding: 10px;
    line-height: 1.75em;
    text-indent: 25px;
    text-align: justify;
    color: var(--tokyo-white);
}

.card__item-description a {
    color: var(--tokyo-purple);
    transition: all 0.3s ease-in-out;
}

.card__item-description a:hover {
    color: var(--tokyo-purple-hover);
}

.card__item-description strong {
    background-color: var(--tokyo-light-dark);
    color: var(--tokyo-white);
    padding: 3.5px 5px;
}

.card__item-description em {
    text-decoration: underline wavy black 1.5px;
}

.card__item-figure {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card__item-image {
    min-width: 250px;
    max-width: 380px;
    border-radius: 2rem;
}

.card__item-caption {
    font: bold 1.35em var(--font-japanese);
    color: var(--tokyo-white);
}

.footer {
    background-color: var(--tokyo-light-dark);
    font: normal 1em var(--font-primary);
    color: white;
    display: flex;
    justify-content: center;
    padding: 25px;
}


/* Media Queries */
@media screen and (min-width: 480px) {
    .header__navbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        background-color: var(--tokyo-gray);
        padding: 25px 0;
    }

    .header__link {
        border: 2px solid var(--tokyo-black);
        padding: 5px 15px;
        text-align: center;
        border-radius: 5px;
    }

    .card__item-description {
        font-size: 1.15em;
    }

}


@media screen and (min-width: 768px) {
    .header {
        display: flex;
        flex-direction: row;
        background-color: var(--tokyo-gray);
    }

    .header__image {
        margin: 5px 20px;
    }

    .header__link {
        border: none;
        padding: 5px 15px;
        border-radius: 0;
    }

    .card {
        margin: auto;
        max-width: 850px;
        box-shadow: 0 0 12px var(--tokyo-gray-transparency);
    }

    .card__item-description {
        font-size: 1.20em;
    }
}

@media screen and (min-width: 1200px) {
    .card {
        max-width: 75vw;
    }
}
